.integration{
    /* border: brown;
    padding: 20px;
    border-style: ridge; */
    border-left: 6px solid brown;
    background-color: lightgrey;
  }
  .content-box{
    padding: 20px;
    margin-top: 10px;
  }