.app-header{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color:#DF691A;
    color: #ffffff;
    padding: 5px;
  }
  .integration{
    border-left: 6px solid #DF691A;
    background-color: lightgrey;
  }
  .head{
      background-color:#DF691A;
      width: 100%;
  }
  .search  button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .search-input {
      width: 300px;
      float: left;
  }
  .search-button{
    float: left !important;
  }
  .custom-link{
    color:#DF691A;
  }
  .request-box {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 15px;
    border: 1px solid #DF691A;
  }
.response-box{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 20px;
    border: 1px solid #DF691A;
  }
.request-box-body{
    background-color: #F5F5F5;  
    padding: 10px;
}
.parameter-datatype{
    color:blue;
}
.parameter-name{
    color: green;
}
.parameter-description{
  font-size: 12px;
}
.object-name{
    color:blue;
}
.object-type{
    color :#DF691A;
}
.response-object-body {
    padding-left: 20px;
    font-size: 12px;
    
}
.spaces{
    color:black;
    height: 25px;
}
.shift-button{
    padding:20px;
}
.definition-box{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #F5F5F5; 
}
.definition-datatype{
  color :#DF691A;
}
.footer{
  padding: 20px;
}